@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

footer {
  background-color: var(--colorMain);
  min-width: 300px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--lengthLg4);
}

.footer-wrapper {
  display: flex;
  background: var(--colorMain);
  flex-direction: column;
  max-width: 1320px;
  padding: var(--lengthMd1);
}

/*? top section */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  padding: var(--lengthMd1) 0px;
  justify-content: space-between;
}

.footer-line {
  display: block;
  width: 100%;
  height: var(--lengthSm3);
  background: linear-gradient(to right, var(--colorSecondary), var(--GREEN));
}

/*? footer subscribe */
.footer-subscribe {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.footer-subscribe > input {
  border: 1px solid var(--GRAY-400);
  color: var(--GRAY-400);
  min-height: calc(var(--lengthMd2) + var(--lengthMd1));
  font-size: var(--lengthMd2);
  flex: 1 0 120px;
  padding: var(--lengthSm3) 12px;
  border-radius: var(--lengthSm3);
}

.footer-subscribe > button {
  cursor: pointer;
  background-color: var(--GRAY-400);
  border-radius: var(--lengthSm3);
  color: var(--WHITISH);
  font-size: var(--lengthMd2);
  min-width: 120px;
  min-height: calc(var(--lengthMd2) + var(--lengthMd1));
  flex: 1 0 80px;
  white-space: nowrap;
  padding: var(--lengthSm3) 12px;
  border: 0px;
  outline: none;
}

/*? footer columns */
.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 2 0 140px;
  width: 100%;
  gap: var(--lengthMd1);
  padding: var(--lengthMd3) var(--lengthSm3) var(--lengthMd1) var(--lengthSm3);
  margin: 0 auto;
  border-top: 1px solid var(--GRAY-150);
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: var(--GRAY-100);
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: var(--lengthMd1);
}

.footer-columns h3 {
  color: white;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: calc(var(--lengthSm2) * 3);
}

.footer-centering {
  margin: 0 auto;
}

.footer-columns > section {
  min-width: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-width: 180px;
}

.footer-logo .hide {
  color: white;
  font-size: var(--lengthLg1);
}

.footer-logo > svg {
  width: 100px;
  height: 100px;
}

/*? Footer bottom */

.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--GRAY-150);
  margin-top: var(--lengthLg2);
  width: 100%;
  gap: var(--lengthSm3);
  padding: var(--lengthMd1) 0px;
}

.footer-bottom > small {
  font-size: var(--lengthMd1);
  margin: 0 var(--lengthSm1);
  color: white;
}

.footer-headline > h2 {
  color: white;
  margin: 0px;
}

.footer-headline > p {
  color: var(--GRAY-100);
  margin: 12px 0px;
}

/* SOCIALS */

.main {
  display: flex;
  flex-wrap: wrap;
  width: 14rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card {
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  transition: 0.4s ease-in-out, 0.2s background-color ease-in-out,
    0.2s background-image ease-in-out;
  background: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .instagram {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #cc39a4;
}

.card:nth-child(2) {
  border-radius: 0px;
}

.card:nth-child(2) .twitter {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #03a9f4;
}

.card:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(3) .dribble {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #ffb5d2;
}

.card:nth-child(4) {
  border-radius: 0px;
}

.card:nth-child(4) .codepen {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: black;
}

.card:nth-child(5) {
  border-radius: 0px;
}

.card:nth-child(5) .uiverse {
  position: absolute;
  margin-left: 0.2em;
  margin-top: 0.2em;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.card:nth-child(6) {
  border-radius: 0px;
}

.card:nth-child(6) .discord {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #8c9eff;
}

.card:nth-child(7) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(7) .github {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: black;
}

.card:nth-child(8) {
  border-radius: 0px;
}

.card:nth-child(8) .telegram {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #29b6f6;
}

.card:nth-child(9) {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(9) .reddit {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.main:hover {
  width: 14em;
  cursor: pointer;
}

.main:hover .main_back {
  opacity: 0;
}

.main:hover .card {
  margin: 0.2em;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.main:hover .card:nth-child(5) {
  border: transparent;
}

.main:hover .text {
  opacity: 0;
  z-index: -3;
}

.main:hover .instagram {
  opacity: 1;
}

.main:hover .twitter {
  opacity: 1;
}

.main:hover .dribble {
  opacity: 1;
}

.main:hover .codepen {
  opacity: 1;
}

.main:hover .uiverse {
  opacity: 1;
}

.main:hover .discord {
  opacity: 1;
}

.main:hover .github {
  opacity: 1;
}

.main:hover .telegram {
  opacity: 1;
}

.main:hover .reddit {
  opacity: 1;
}

.card:nth-child(1):hover {
  background-color: #cc39a4;
}

.card:nth-child(1):hover .instagram {
  fill: white;
}

.card:nth-child(2):hover {
  background-color: #03a9f4;
}

.card:nth-child(2):hover .twitter {
  fill: white;
}

.card:nth-child(3):hover {
  background-color: #ffb5d2;
}

.card:nth-child(3):hover .dribble {
  fill: white;
}

.card:nth-child(4):hover {
  background-color: #1e1f26;
}

.card:nth-child(4):hover .codepen {
  fill: white;
}

.card:nth-child(5):hover {
  animation: backgroundIMG 0.1s;
  animation-fill-mode: forwards;
}

.card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
  stop-color: white;
}

@keyframes backgroundIMG {
  100% {
    background-image: linear-gradient(#5865f2, #23a55a);
  }
}

.card:nth-child(6):hover {
  background-color: #8c9eff;
}

.card:nth-child(6):hover .discord {
  fill: white;
}

.card:nth-child(7):hover {
  background-color: black;
}

.card:nth-child(7):hover .github {
  fill: white;
}

.card:nth-child(8):hover {
  background-color: #29b6f6;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(1) {
  fill: white;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(2) {
  fill: #29b6f6;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(3) {
  fill: #29b6f6;
}

.card:nth-child(9):hover {
  background-color: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit > g circle {
  fill: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit > g path {
  fill: white;
}

.text {
  position: absolute;
  font-size: 0.7em;
  transition: 0.4s ease-in-out;
  color: var(--WHITISH);
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.33em;
  z-index: 3;
}

/*? mobile */

@media (max-width: 800px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--lengthMd1) var(sm3) 32px var(sm3);
  }

  .footer-columns {
    flex-wrap: wrap;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
}
