@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--TITLE-FONT);
}

.faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0 3rem 0;
  background-color: var(--MAIN-COLOR);
  height: 100%;
  text-align: center;
}

.container__title {
  color: var(--WHITE-50);
}

.faq-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.faq-card {
  width: 100%;
  background-color: var(--GRAY-400);
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: var(--WHITE) 0px 6px 12px -2px, var(--WHITE-50) 0px 3px 7px -3px;
}

.faq-card__question {
  color: var(--WHITE);
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.faq-card__answer {
  color: var(--GRAY-50);
  font-size: 1rem;
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1200px) {
  .faqs-container {
    height: 50vh;
  }
  .container__title {
    font-size: 3rem;
  }

  .faq-card-wrapper {
    flex-direction: row;
    gap: 5rem;
  }

  .faq-card {
    width: 40%;
  }

  .faq-card__question {
    font-size: 1.5rem;
  }

  .faq-card__answer {
    font-size: 1.1rem;
  }
}
