<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQs Component</title>
    <link rel="stylesheet" href="/components/faq/faq.css" />
  </head>
  <body>
    <section class="faqs-container">
      <!-- title -->
      <h1 class="container__title">Frequently Asked Questions</h1>

      <div class="faq-card-wrapper">
        <!-- card 1 -->
        <div class="faq-card">
          <h2 class="faq-card__question">
            How can I search for a specific medication?
          </h2>
          <p class="faq-card__answer">
            You can use the search button at the top right of the page to search
            for a specific medication by name.
          </p>
        </div>
        <!-- card 2 -->
        <div class="faq-card">
          <h2 class="faq-card__question">
            Is the information provided reliable?
          </h2>
          <p class="faq-card__answer">
            Yes, our application provides accurate and reliable information
            about medications from trusted sources.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
