@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

.faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--lengthLg3) * 2) 0 var(--lengthLg2) 0;
  background-color: var(--colorMain);
  height: 100%;
  text-align: center;
}

.container__title {
  color: var(--WHITISH);
}

.faq-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lengthLg4);
  padding: var(--lengthMd1);
}

.faq-card {
  width: 100%;
  background-color: var(--GRAY-400);
  border-radius: calc(var(--lengthMd2) / 4);
  padding: var(--lengthMd3);
  box-shadow: var(--WHITE) 0px 6px 12px -2px, var(--WHITISH) 0px 3px 7px -3px;
}

.faq-card__question {
  color: var(--WHITE);
  padding-bottom: var(--lengthMd1);
  font-size: var(--lengthMd2);
}

.faq-card__answer {
  color: var(--GRAY-50);
  font-size: var(--lengthMd1);
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1200px) {
  .faqs-container {
    height: 50vh;
  }
  .container__title {
    font-size: var(--lengthLg2);
  }

  .faq-card-wrapper {
    flex-direction: row;
    gap: var(--lengthLg4);
  }

  .faq-card {
    width: 40%;
  }

  .faq-card__question {
    font-size: var(--lengthMd3);
  }

  .faq-card__answer {
    font-size: var(--lengthMd1);
  }
}
