<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQs Component</title>
    <link rel="stylesheet" href="/components/faq/faq.css" />
  </head>
  <body>
    <div class="faqs-container">
      <!-- title -->
      <h1 class="faq-title">Sıkça Sorulan Sorular</h1>

      <div class="faq-cards">
        <!-- card 1 -->
        <div class="faq-card">
          <h2 class="faq-question">Belirli bir ilacı nasıl arayabilirim?</h2>
          <p class="faq-answer">
            Belirli bir ilacı isme göre aramak için sayfanın üst kısmındaki
            arama çubuğunu kullanabilirsiniz.
          </p>
        </div>
        <!-- card 2 -->
        <div class="faq-card">
          <h2 class="faq-question">Sağlanan bilgiler güvenilir mi?</h2>
          <p class="faq-answer">
            Evet, uygulamamız ilaçlar hakkında güvenilir kaynaklardan doğru ve
            güvenilir bilgi sağlar.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
