<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment Component</title>
    <link rel="stylesheet" href="/components/comments/comments.css" />
  </head>
  <body>
    <div class="comment-container">
      <div class="comment-card">
        <p class="comment-text">
          "Bu uygulama, ilaçlar hakkında bilgi bulmamı kolaylaştırdı ve doğru
          bilgiler sunuyor."
        </p>
        <div class="comment-info">
          <p class="comment-people">John Doe</p>
          <p class="comment-job">Hasta</p>
        </div>
      </div>
      <div class="comment-card">
        <p class="comment-text">
          "Sağlık profesyoneli olarak, ilaçlar hakkında kapsamlı bilgi edinmek
          için bu uygulamaya güveniyorum. Bana çok zaman ve emek kazandırıyor."
        </p>
        <div class="comment-info">
          <p class="comment-people">Jane Smith</p>
          <p class="comment-job">Hemşire</p>
        </div>
      </div>
    </div>
  </body>
</html>
