@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
  /* -- */
  --footer-background: white;
  --text-color: #111420;
  --text-gray: #e1e1e1;
  --text-heading-gray: #b9b9b9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--TITLE-FONT);
}

footer {
  border-top: 1px solid var(--GRAY-150);
  width: 100%;
  text-align: center;
  background-color: var(--MAIN-COLOR);
}

footer p {
  padding: 24px 0;
  color: white;
}
