<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info Card Component</title>
    <link rel="stylesheet" href="/components/info-card/info-card.css" />
  </head>
  <body>
    <div class="info-card-container-bg">
      <div class="info-card-container">
        <!-- image -->
        <img src="/assets/images/drugs1.jpg" alt="" class="info-card-image" />
        <!-- title and description-->
        <div class="info-card-description">
          <h1 class="info-card-title">İlaçlar</h1>
          <p class="info-card-text">
            İlaçlar, çeşitli hastalıkları tedavi etmek veya semptomları
            hafifletmek için kullanılan önemli araçlardır. Bu maddeler,
            genellikle doktorlar tarafından reçete edilir ve belirli bir tedavi
            sürecinin bir parçası olarak kullanılır. İlaçların düzgün ve
            belirlenen şekilde kullanılması hayati önem taşır, çünkü yanlış
            kullanım veya aşırı doz, ciddi sağlık sorunlarına yol açabilir.
            İlacın kullanım talimatlarına uymak, etkili tedavi için kritiktir.
            Gereksiz veya fazla ilaç kullanımı, istenmeyen yan etkilere ve hatta
            zehirlenmelere neden olabilir. Bu nedenle, her zaman doktorun
            önerdiği dozu ve kullanım sıklığını takip etmek önemlidir. İlaçların
            güvenli bir şekilde kullanılması, sağlık sorunlarının etkili bir
            şekilde yönetilmesine yardımcı olacaktır.
          </p>
          <a href="">
            <button class="info-card-btn">Detaylı Bilgi</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
