@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

.bg-full-w {
  background-color: var(--GRAY-400);
  width: 100%;
}

.info-card {
  width: 100%;
  margin: 0 auto;
  padding: var(--lengthMd1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lengthMd1);
}

.info-card__image {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

.info-card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--lengthLg2);
  gap: var(--lengthMd1) 0;
}

.info-card__text,
.info-card__text-2 {
  color: var(--WHITISH);
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.info-card__text::first-letter {
  color: var(--colorSecondary);
  initial-letter: 4;
  margin-right: var(--lengthMd1);
  background-color: var(--WHITISH);
  box-shadow: calc(var(--lengthMd2) / 4) calc(var(--lengthMd2) / 4) 0
    var(--colorSecondary);
  padding: calc(var(--lengthMd2) / 2) calc(var(--lengthMd2) / 4);
  border-radius: calc(var(--lengthMd2) / 4);
}

/* BTN */
.info-card__btn {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: var(--colorSecondary);
  font-size: var(--lengthMd1);
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  align-self: flex-end;
  margin-top: var(--lengthMd1);
}

.info-card__span {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.info-card__btn:hover .info-card__span {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
  cursor: pointer;
}

.info-card__btn:active .info-card__span {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media (max-width: 600px) {
}

@media (min-width: 600px) {
  .info-card {
    width: 80%;
    flex-direction: row;
    align-items: start;
    gap: var(--lengthLg1);
    padding: var(--lengthLg2) 0;
  }

  .info-card__image {
    width: 750px;
    height: 500px;
  }
  .info-card__description {
    align-items: start;
    gap: var(--lengthMd3);
    padding: var(--lengthMd1);
  }

  .info-card__text,
  .info-card__text-2 {
    font-size: calc(var(--lengthMd1) + 0.15rem);
  }

  .info-card__span {
    font-size: var(--lengthMd2);
  }
}
