<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info Card Component</title>
    <link rel="stylesheet" href="/components/info-card/info-card.css" />
  </head>
  <body>
    <div class="bg-full-w">
      <section class="info-card">
        <!-- image -->
        <img src="/assets/images/drugs1.jpg" alt="" class="info-card__image" />
        <!-- title and description-->
        <div class="info-card__description">
          <p class="info-card__text">
            Medicines are chemical substances that are used to protect and
            improve human health. They are used to treat diseases, relieve pain,
            prevent diseases, and sometimes to address health problems. As one
            of the most important developments in modern medicine, medicines
            play a key role in the treatment and prevention of diseases.
            However, the unnecessary use of medicines can be harmful to our
            health and can also be quite expensive. Therefore, it is important
            to use medicines only with a doctor's recommendation and in the
            right way. It is also important to learn about the potential side
            effects of medicines before taking them. Taking medicines in the
            right dosage and for the right duration can help to manage health
            problems effectively.
          </p>
          <p class="info-card__text-2">
            It is a fact that people are often uninformed when taking medicines.
            Many people tend to use them unconsciously without understanding
            what they do exactly or consulting with healthcare professionals. It
            is also quite common to use medicines without checking the
            instructions for use, without having enough information about the
            side effects of the medicines. This can make it difficult to manage
            health problems effectively and misuse can lead to serious health
            risks. Therefore, it is important to be conscious of drug use and to
            obtain the necessary information from healthcare professionals.
          </p>
          <button class="info-card__btn">
            <span class="info-card__span"> More Information</span>
          </button>
        </div>
      </section>
    </div>
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
        fill="#1E1F22"
        fill-opacity="1"
      ></path>
    </svg>
  </body>
</html>
