@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--TITLE-FONT);
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem;
}

.subscribe-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.subscribe-title {
  font-size: 2rem;
  color: var(--WHITE);
}

.subscribe-subtitle {
  font-size: 1.2rem;
  color: var(--GRAY-100);
}

.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form > input {
  font-size: 1.2rem;
  width: 250px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  border: 2px solid var(--GRAY-50);
  padding: 8px 16px;
  background-color: transparent;
  color: var(--WHITE-50);
}
.input-form > input::placeholder {
  color: var(--WHITE-50);
}

.input-form > input:focus {
  outline: none;
}

.input-btn {
  font-size: 1.2rem;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 8px 16px;
  background-color: var(--GREEN-1);
  color: var(--WHITE);
  cursor: pointer;
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1200px) {
  .subscribe-container {
    gap: 2rem;
  }

  .subscribe-title {
    font-size: 3rem;
  }
}
