<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe Component</title>
    <link rel="stylesheet" href="/components/subscribe/subscribe.css" />
  </head>
  <body>
    <section class="subscribe-container">
      <!-- title -->
      <div class="subscribe__header">
        <h1 class="subscribe__title">Subscribe to our Newsletter</h1>
        <!-- subtitle -->
        <p class="subscribe__subtitle">
          Stay up-to-date with the latest news and updates.
        </p>
      </div>
      <!-- input -->
      <form class="subscribe__form">
        <input
          type="email"
          placeholder="Enter your Email"
          class="form__input"
        />
        <button type="submit" class="form__btn">Subscribe</button>
      </form>
    </section>
  </body>
</html>
