<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Component</title>
    <link rel="stylesheet" href="/components/hero/hero.css" />
  </head>
  <body>
    <section class="hero">
      <div class="left">
        <h1 class="hero__title">Be aware.</h1>
        <p class="hero__text">
          Get medication information quickly and stay healthy.
        </p>
        <a href="/pages/medicine-search-page.php">
          <button class="hero__btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Get Started
          </button>
        </a>
      </div>
      <img src="/components/hero/searching.svg" alt="" class="hero-img" />
    </section>
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M1200 0L0 0 598.97 114.72 1200 0z"
        class="shape-fill"
        fill="#1E1F22"
        fill-opacity="1"
      ></path>
    </svg>
  </body>
</html>
