<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Component</title>
    <link rel="stylesheet" href="/components/hero/hero.css" />
  </head>
  <body>
    <div class="hero-container">
      <h1 class="hero-title">İlaç Kullanımı</h1>
      <p class="hero-text">
        Sağlıklı bir yaşam için ilaçlar hakkında temel ve detaylı bilgiler
      </p>
      <a href="/medicine-page.php">
        <button class="hero-btn">Hemen Göz At</button>
      </a>
    </div>
  </body>
</html>
