@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--TITLE-FONT);
}

.hero {
  background-color: var(--GRAY-400);
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.hero__title {
  font-size: 53px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.65), 2px -2px 0px rgba(0, 0, 0, 0.65),
    -2px 2px 0px rgba(0, 0, 0, 0.65), -2px -2px 0px rgba(0, 0, 0, 0.65),
    2px 0px 0px rgba(0, 0, 0, 0.65), 0px 2px 0px rgba(0, 0, 0, 0.65),
    -2px 0px 0px rgba(0, 0, 0, 0.65), 0px -2px 0px rgba(0, 0, 0, 0.65);
}

.hero__text {
  font-size: 20px;
  line-height: 20px;
  color: var(--GRAY-150);
  text-align: center;
}

/* BUTON */
.hero__btn {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid var(--GRAY-250);
  background: var(--GRAY-200);
  color: var(--GREEN-ALL);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.hero__btn:hover {
  box-shadow: 0 0 5px var(--GREEN-ALL), 0 0 15px var(--BLUE),
    0 0 25px var(--GREEN-ALL);
  transition-delay: 0.6s;
}

.hero__btn span {
  position: absolute;
}

.hero__btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--GREEN-ALL));
}

.hero__btn:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.hero__btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--BLUE));
}

.hero__btn:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.hero__btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--GREEN-ALL));
}

.hero__btn:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.hero__btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--BLUE));
}

.hero__btn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.hero__btn:active {
  background: var(--GREEN-ALL);
  background: linear-gradient(to top right, var(--GREEN-ALL), var(--BLUE));
  color: #bfbfbf;
  box-shadow: 0 0 8px var(--GREEN-ALL), 0 0 8px var(--BLUE),
    0 0 8px var(--GREEN-ALL);
  transition: 0.1s;
}

.hero__btn:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

/* SVG */
.svg {
  display: none;
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media (max-width: 600px) {
}

@media (min-width: 600px) {
  .hero {
    padding: 0 10%;
    padding-top: 6rem;
    justify-content: space-between;
    height: 800px;
  }

  .left {
    align-items: flex-start;
  }

  .hero__title {
    font-size: 106px;
    line-height: 95px;
    letter-spacing: -0.02em;
  }
  .hero__text {
    font-size: 24px;
    line-height: 30px;
  }
  .hero__btn {
    font-size: 20px;
  }
  .svg {
    display: block;
    height: 640px;
  }
}
