@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

.hero {
  background-color: var(--GRAY-400);
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lengthMd3);
}

.hero__title {
  font-size: 53px;
  line-height: var(--lengthLg2);
  letter-spacing: -0.01em;
  color: white;
}

.hero__text {
  font-size: var(--lengthMd3);
  line-height: var(--lengthMd3);
  color: var(--GRAY-150);
  text-align: center;
}

/* BUTON */
.hero__btn {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid var(--GRAY-250);
  background: var(--GRAY-200);
  color: var(--colorPrimary);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: var(--lengthMd3);
  cursor: pointer;
  font-weight: bold;
}

.hero__btn:hover {
  box-shadow: 0 0 5px var(--colorPrimary), 0 0 15px var(--colorSecondary),
    0 0 25px var(--colorPrimary);
  transition-delay: 0.6s;
}

.hero__btn span {
  position: absolute;
}

.hero__btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--GREEN));
}

.hero__btn:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.hero__btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--colorSecondary));
}

.hero__btn:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.hero__btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--GREEN));
}

.hero__btn:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.hero__btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--colorSecondary));
}

.hero__btn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.hero__btn:active {
  background: var(--GREEN);
  background: linear-gradient(
    to top right,
    var(--GREEN),
    var(--colorSecondary)
  );
  color: #bfbfbf;
  box-shadow: 0 0 8px var(--GREEN), 0 0 8px var(--colorSecondary),
    0 0 8px var(--GREEN);
  transition: 0.1s;
}

.hero__btn:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

/* SVG */
.hero-img {
  display: none;
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media (max-width: 600px) {
}

@media (min-width: 600px) {
  .hero {
    padding: 0 10%;
    padding-top: calc(var(--lengthLg2) * 2);
    justify-content: space-between;
    height: 800px;
  }

  .left {
    align-items: flex-start;
  }

  .hero__title {
    font-size: 106px;
    line-height: 95px;
    letter-spacing: -0.02em;
  }
  .hero__text {
    font-size: var(--lengthMd3);
    line-height: 30px;
  }
  .hero__btn {
    font-size: var(--lengthMd3);
  }
  .hero-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
