@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

body {
  background-color: var(--colorMain);
}

.notification {
  position: absolute;
  font-family: var(--TITLE-FONT);
  margin-top: calc(var(--lengthLg2) * 2);
  width: max-content;
  left: 0;
  right: 0;
  top: -5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background-color: var(--GRAY-400);
  color: var(--ORANGE);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 3.4s linear;
}

.notification__icon {
  font-size: calc(var(--lengthMd3) + var(--lengthSm1));
  margin-right: var(--lengthSm1);
  color: var(--ORANGE);
}

.notification__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--lengthMd1) var(--lengthSm3);
}

.notification__progress {
  position: absolute;
  left: var(--lengthSm1);
  bottom: var(--lengthSm1);
  width: calc(100% - var(--lengthSm3));
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
    to right,
    var(--colorSecondary),
    var(--colorSecondary)
  );
  border-radius: inherit;
  animation: progress 3s 0.3s linear;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}
