<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment Component</title>
    <link rel="stylesheet" href="/components/comment/comments.css" />
  </head>
  <body>
    <section class="comment-container">
      <div class="comment-card">
        <p class="comment-card__text">
          "This app has revolutionized the way I search for information about
          medications. It's so easy to use and provides accurate information."
        </p>
        <div class="comment-card__info">
          <p class="info__people">John Doe</p>
          <p class="info__job">Patient</p>
        </div>
      </div>
      <div class="comment-card">
        <p class="comment-card__text">
          "As a healthcare professional, I rely on this app to provide me with
          comprehensive information about medications. It saves me a lot of time
          and effort."
        </p>
        <div class="comment-card__info">
          <p class="info__people">Jane Smith</p>
          <p class="info__job">Nurse</p>
        </div>
      </div>
    </section>
  </body>
</html>
