@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--TITLE-FONT);
}

body {
  background-color: var(--MAIN-COLOR);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* BREADCRUMBS */
.bread-crumbs-container {
  margin-left: 15%;
  padding: 2rem 0;
}

.bread-crumbs {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: var(--WHITE);
}

.bread-crumbs li > a {
  text-decoration: none;
  color: var(--WHITE-50);
}

.fa-house {
  font-size: 1.4rem;
}

.main {
  width: 60%;
}

/* CONTENT */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-btn {
  background-color: var(--BLUE);
  color: var(--GRAY-400);
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  position: absolute;
  top: 0%;
  left: 0%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 800px;
}

.card__image {
  width: 100%;
  max-height: 450px;
  border-radius: 20px;
}

.card__header {
}

.card__title {
  color: var(--WHITE);
  font-size: 2.5rem;
}

.card__subtitle {
  color: var(--WHITE-50);
  font-weight: 600;
  font-size: 1.3rem;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.purpose-wrapper {
}

.purpose-title {
  color: var(--WHITE);
}

.purpose-text {
  color: var(--WHITE-50);
}

.instruction-wrapper {
}
.instruction-title {
  color: var(--WHITE);
}
.instruction-text {
  color: var(--WHITE-50);
}
/* FORM */
.comment-container {
  background-color: var(--MAIN-COLOR);
  box-shadow: 0 0 0 3px var(--GRAY-400), 9px 9px 0 0 var(--GRAY-400);
  border-radius: 5px;
  padding: 3rem;
  margin-bottom: 5rem;
}
.comment__form {
  /* align-self: center;
  text-align: center; */
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}
.name-wrapper {
  display: flex;
  flex-direction: column;
}

.label__name {
  font-size: 1.3rem;
  color: var(--WHITE-50);
}

.input__name {
  /* width: 300px; */
  height: 40px;
  padding: 8px 12px;
  font-size: 1.2rem;
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
  background-color: var(--WHITE);
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
}

.label__comment {
  font-size: 1.3rem;
  color: var(--WHITE-50);
}

.input__comment {
  /* width: 300px; */
  height: 200px;
  padding: 8px 12px;
  font-size: 1.2rem;
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
  background-color: var(--WHITE);
}

.submit-btn {
  font-size: 1.2rem;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--BLUE);
  color: white;
  /* width: 100%; */
  align-self: flex-start;
}

/* SHOW COMMENTS */
.posted-comments {
  background-color: var(--GRAY-400);
  padding: 1rem;
  border-radius: 5px;
}

.posted-comments__title {
  color: var(--WHITE-50);
}

.posted-comment__body {
  margin: 1rem 0;
}

.posted-comment__name {
  color: var(--WHITE);
}
.posted-comment__text {
  color: var(--GRAY-100);
}
