@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem; /* 4px*/
  --lengthSm2: 0.375rem; /* 6px*/
  --lengthSm3: 0.5rem; /* 8px*/
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem; /* 20px*/
  --lengthMd3: 1.5rem; /* 24px*/
  --lengthLg1: 2rem; /* 32px*/
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

body {
  background-color: var(--colorMain);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BREADCRUMBS */
.bread-crumbs-container {
  padding: var(--lengthLg1) 0 var(--lengthMd1) 0;
  width: 100%;
}

.bread-crumbs {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--lengthMd1);
  color: var(--colorTitle);
  width: 100%;
}

.bread-crumbs li > a {
  text-decoration: none;
  color: var(--colorText);
}

.fa-house {
  font-size: var(--lengthMd3);
}

.main {
  padding: 0 10%;
  margin-top: var(--lengthLg3);
}

/* CONTENT */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--lengthLg4);
  max-width: 800px;
}

.card__image {
  max-width: 100%;
  height: auto;
  border-radius: var(--lengthMd2);
}

.card__title {
  color: white;
  font-size: calc(var(--lengthMd2) * 2);
}

.card__subtitle {
  color: var(--GRAY-100);
  font-weight: 600;
  font-size: var(--lengthMd2);
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: var(--lengthLg4);
}

.purpose-title {
  color: white;
}

.purpose-text {
  color: var(--GRAY-100);
}

.instruction-title {
  color: white;
}

.instruction-text {
  color: var(--GRAY-100);
}

/* FORM */
.comment-container {
  background-color: var(--colorMain);
  box-shadow: 0 0 0 var(--lengthSm1) var(--GRAY-400),
    var(--lengthSm3) var(--lengthSm3) 0 0 var(--GRAY-400);
  border-radius: calc(var(--lengthMd2) / 4);
  padding: var(--lengthLg2);
  margin-bottom: var(--lengthLg4);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--lengthMd1);
  margin: var(--lengthLg1) 0;
}
.name-wrapper {
  display: flex;
  flex-direction: column;
}

.label__name {
  font-size: var(--lengthMd2);
  color: var(--colorText);
}

.input__name {
  height: calc(var(--lengthMd2) * 2);
  padding: var(--lengthSm3) calc(var(--lengthSm2) * 2);
  font-size: var(--lengthMd2);
  border: var(--lengthSm1) solid black;
  border-radius: calc(var(--lengthMd2) / 4);
  outline: none;
  background-color: var(--colorTitle);
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
}

.label__comment {
  font-size: var(--lengthMd2);
  color: var(--colorText);
}

.input__comment {
  height: 200px;
  padding: var(--lengthSm3) calc(var(--lengthSm2) * 2);
  font-size: var(--lengthMd2);
  border: var(--lengthSm1) solid black;
  border-radius: calc(var(--lengthMd2) / 4);
  outline: none;
  background-color: var(--colorTitle);
}

.submit-btn {
  font-size: var(--lengthMd2);
  padding: var(--lengthSm3) calc(var(--lengthSm2) * 2);
  border: none;
  border-radius: calc(var(--lengthMd2) / 4);
  cursor: pointer;
  background-color: var(--BLUE);
  color: white;
  align-self: flex-start;
}

/* SHOW COMMENTS */
.posted-comments {
  background-color: var(--GRAY-400);
  padding: var(--lengthMd1);
  border-radius: calc(var(--lengthMd2) / 4);
}

.posted-comments__title {
  color: var(--colorText);
}

.posted-comment__body {
  margin: var(--lengthMd1) 0;
}

.posted-comment__name {
  color: var(--colorTitle);
}
.posted-comment__text {
  color: var(--GRAY-100);
}

@media (max-width: 600px) {
}

@media (min-width: 600px) {
}
