@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #151515;
  --PRIMARY-COLOR: #0ca34d;
  --SECONDARY-COLOR: #4e5cff;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--MAIN-COLOR);
  font-family: var(--TITLE-FONT);
}
body,
html {
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  margin-top: 2rem;
}

.header > .title {
  color: white;
  font-size: 2.5rem;
}

/* Search Bar */
.search-container {
  margin: 2rem;
}

.search-container > input {
  background-color: var(--PRIMARY-COLOR);
  width: 300px;
  height: 45px;
  border-radius: 25px;
  border: none;
  font-size: 1.25rem;
  color: black;
  padding: 6px 12px;
}

.search-container > input:focus {
  outline: none;
  /* border: 1px solid var(--SECONDARY-COLOR); */
  /* box-shadow: 0 0 10px var(--SECONDARY-COLOR); */
}

.search-container > input::placeholder {
  color: black;
}
/* Medicines */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px 0;
  margin: 2rem 0;
}
.card {
  background-color: var(--SECONDARY-COLOR);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0 1rem;
  width: 300px;
  height: 500px;
}

.thumbnail {
  width: 100%;
  height: 30%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.description {
  font-family: var(--TEXT-FONT);
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem 0;
}

.description > .medicine-title {
  align-self: center;
  font-family: var(--TITLE-FONT);
}

.description > .more-info {
  color: black;
}

.description > .more-info:hover {
  color: white;
}

/* Media Queries -RESPONSIVE */
@media screen and (min-width: 768px) {
  .header > .title {
    font-size: 5rem;
  }
  .search-container > input {
    width: 600px;
  }
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card {
    flex-direction: row;
    width: 600px;
    height: 350px;
  }
  .thumbnail {
    width: 50%;
    height: 100%;
  }
  .description {
    gap: 1.2rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .header > .title {
    font-size: 6rem;
  }
  .search-container > input {
    width: 700px;
  }
}
