@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

.feature-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lengthLg1);
  padding: var(--lengthLg2) 0;
  background-color: var(--colorMain);
}

.feature-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--lengthMd1);
  padding: var(--lengthMd1);
}

.feature-card__icon {
  font-size: var(--lengthMd3);
  color: var(--GRAY-50);
  background-color: var(--GRAY-400);
  padding: calc(var(--lengthLg3) * 0.2);
  border-radius: 50%;
}

.feature-card__title {
  font-size: var(--lengthMd3);
  color: var(--colorText);
  letter-spacing: 0.5px;
}

.feature-card__text {
  font-size: var(--lengthMd1);
  color: var(--colorText);
  width: 70%;
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media (max-width: 600px) {
}

@media (min-width: 600px) {
  .feature-card-container {
    flex-direction: row;
    gap: var(--lengthLg3);
    height: 50vh;
  }

  .feature-card {
    width: 30%;
  }

  .feature-card__icon {
    font-size: var(--lengthLg1);
    padding: var(--lengthMd1);
  }
}
