<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Component</title>
    <link rel="stylesheet" href="/components/footer/footer.css" />
    <script
      src="https://kit.fontawesome.com/d50705f12e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <footer class="footer-container">
      <!-- footer logo -->
      <div class="footer-logo">
        <a href="#">
          <img
            class="footer-image"
            src="/assets/images/ilac-dunyasi-logo.png"
            alt="logo"
          />
        </a>
        <!-- name -->
        <a href="#" class="footer-name">
          <h1>MediCenter</h1>
        </a>
      </div>
      <!-- rights -->
      <p class="footer-text">© 2023 MediCenter. All rights reserved.</p>

      <!-- icons -->
      <div class="footer-icons">
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-threads"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </footer>
  </body>
</html>
