<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us Component</title>
    <link rel="stylesheet" href="/components/contact/contact.css" />
  </head>
  <body>
    <section class="contact-container">
      <!-- title -->
      <h1 class="contact__title">Contact Us</h1>

      <!-- form -->
      <form class="contact-form">
        <!-- name-email wrapper -->
        <div class="top-wrapper">
          <!-- name -->
          <div class="name-wrapper">
            <label for="Name" class="form__name-label">Name</label>
            <input
              type="text"
              placeholder="Enter your name"
              class="form__name-input"
            />
          </div>
          <!-- email -->
          <div class="email-wrapper">
            <label for="Name" class="form__email-label">Email</label>
            <input
              type="email"
              placeholder="Enter your email"
              class="form__email-input"
            />
          </div>
        </div>
        <!-- message -->
        <div class="message-wrapper">
          <label for="Name" class="form__message-label">Message</label>
          <textarea
            name="email"
            placeholder="Enter your message"
            class="form__message-input"
          ></textarea>
        </div>
        <!-- button -->
        <a class="form__submit-link" href=""
          ><button class="form__submit-btn">Submit</button></a
        >
      </form>
    </section>
  </body>
</html>
