<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us Component</title>
    <link rel="stylesheet" href="/components/contact/contact.css" />
  </head>
  <body>
    <div class="wrapper">
      <section class="contact-container">
        <form class="form">
          <div class="descr">Contact us</div>
          <div class="top-wrapper">
            <div class="input">
              <input required="" autocomplete="off" type="text" />
              <label for="name">Name</label>
            </div>

            <div class="input">
              <input required="" autocomplete="off" name="email" type="text" />
              <label for="email">E-mail</label>
            </div>
          </div>
          <div class="input">
            <textarea required="" cols="30" rows="1" id="message"></textarea>
            <label for="message">Message</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </form>
      </section>
      <img
        src="/components/contact/undraw_contact_us_re_4qqt.svg"
        alt=""
        class="form-img"
      />
    </div>
  </body>
</html>
