@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.form-img {
  display: none;
}
.contact-container {
  order: 2;
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--lengthLg2);
  position: relative;
  border-radius: calc(var(--lengthMd2) / 2);
  padding: var(--lengthLg1);
  background: var(--GRAY-400);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--lengthMd1);
}

.container form .descr {
  font-size: var(--lengthLg2);
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: var(--lengthMd3);
  margin-top: var(--lengthMd3);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lengthLg1);
}

.input,
textarea {
  margin: var(--lengthMd1) 0 var(--lengthMd1) 0;
  width: 100%;
  position: relative;
}

.input input,
textarea {
  font-size: 100%;
  padding: calc(var(--lengthSm1) * 3);
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: calc(var(--lengthSm1) / 2) solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: calc(var(--lengthSm1) * 3);
  margin-left: calc(var(--lengthMd1) / 10);
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  padding: calc(var(--lengthLg1) / 5);
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  padding: calc(var(--lengthLg1) / 5);
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.contact-container form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: var(--lengthMd1);
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: var(--lengthSm1);
}

.contact-container a:hover {
  background: #fff;
  color: #272727;
  border-radius: calc(var(--lengthMd2) / 4);
}

.contact-container a span {
  position: absolute;
  display: block;
}

.contact-container a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.contact-container a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: 0.375s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.contact-container a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.contact-container a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.contact-container p:last-child {
  color: #aaa;
  font-size: 14px;
}

.contact-container a.a2 {
  color: #fff;
  text-decoration: none;
}

.contact-container a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: calc(var(--lengthMd2) / 4);
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media (max-width: 600px) {
}

@media (min-width: 600px) {
  .wrapper {
    width: 80%;
  }
  .form-img {
    display: block;
    width: 750px;
  }
}
