<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us Component</title>
    <link rel="stylesheet" href="/components/contact/contact.css" />
  </head>
  <body>
    <div class="contact-container">
      <!-- title -->
      <h1 class="contact-title">Contact Us</h1>

      <!-- form -->
      <div class="contact-form">
        <!-- name-email wrapper -->
        <div class="name-email-wrapper">
          <!-- name -->
          <div class="name-wrapper">
            <label for="Name" class="contact-label-name">Name</label>
            <input
              type="text"
              placeholder="Enter your name"
              class="contact-input-name"
            />
          </div>
          <!-- email -->
          <div class="email-wrapper">
            <label for="Name" class="contact-label-email">Email</label>
            <input
              type="email"
              placeholder="Enter your email"
              class="contact-input-email"
            />
          </div>
        </div>
      </div>
      <!-- message -->
      <div class="message-wrapper">
        <label for="Name" class="contact-label-message">Message</label>
        <textarea
          name="email"
          placeholder="Enter your message"
          class="contact-input-message"
        ></textarea>
      </div>
      <!-- button -->
      <a class="contact-link" href=""
        ><button class="contact-btn">Gönder</button></a
      >
    </div>
  </body>
</html>
