<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feature Cards Component</title>
    <link rel="stylesheet" href="/components/feature-cards/feature-card.css" />
    <script
      src="https://kit.fontawesome.com/d50705f12e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="feature-card-container">
      <section class="feature-card">
        <!-- search icon -->
        <i class="fa-solid fa-magnifying-glass feature-card__icon"></i>
        <!-- title -->
        <h1 class="feature-card__title">Search Medications</h1>
        <!-- description -->
        <p class="feature-card__text">
          Easily find detailed information about any medication you need
        </p>
      </section>

      <section class="feature-card">
        <!--  icon -->
        <i class="fa-solid fa-database feature-card__icon"></i>
        <!-- title -->
        <h1 class="feature-card__title">Comprehensive Drug Database</h1>
        <!-- description -->
        <p class="feature-card__text">
          Access information on various drugs including uses, side effects,
          interactions, and more
        </p>
      </section>

      <section class="feature-card">
        <!--  icon -->
        <i class="fa-solid fa-book-medical feature-card__icon"></i>
        <!-- title -->
        <h1 class="feature-card__title">Healthcare Articles</h1>
        <!-- description -->
        <p class="feature-card__text">
          Read informative articles on healthcare topics and the latest medical
          breakthroughs
        </p>
      </section>
    </div>
  </body>
</html>
