<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feature Cards Component</title>
    <link rel="stylesheet" href="/components/feature-cards/feature-card.css" />
    <script
      src="https://kit.fontawesome.com/d50705f12e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="feature-card-container">
      <section class="feature-card">
        <!-- search icon -->
        <i class="fa-solid fa-magnifying-glass feature-card__icon"></i>
        <!-- title -->
        <h1 class="feature-card__title">İlaç Arayın</h1>
        <!-- description -->
        <p class="feature-card__text">
          İhtiyacınız olan herhangi bir ilaç hakkında kolayca detaylı bilgi
          edinin.
        </p>
      </section>

      <section class="feature-card">
        <!--  icon -->
        <i class="fa-solid fa-database feature-card__icon"></i>
        <!-- title -->
        <h1 class="feature-card__title">Kapsamlı İlaç Veritabanı</h1>
        <!-- description -->
        <p class="feature-card__text">
          İlaçların kullanımları, yan etkileri, etkileşimleri ve diğer önemli
          bilgileri tek bir yerde bulun.
        </p>
      </section>

      <section class="feature-card">
        <!--  icon -->
        <i class="fa-solid fa-book-medical feature-card__icon"></i>
        <!-- title -->
        <h1 class="feature-card__title">Sağlıkla İlgili Yazılar</h1>
        <!-- description -->
        <p class="feature-card__text">
          Sağlıkla ilgili konulardaki gelişmeler hakkında bilgilendirici yazılar
          okuyun.
        </p>
      </section>
    </div>
  </body>
</html>
