@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --colorPrimary: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: var(--lengthMd3);
  background-color: var(--colorMain);
  opacity: 0.95;
  height: 60px;
  border-bottom: 2px solid rgba(78, 80, 88, 0.48);
  z-index: 99;
}

/* NAVBAR LEFT */
.navbar__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--lengthSm3);
}

/********************* LOGO *********************/
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.navbar__logo-image {
  width: 60px;
  height: 60px;
  margin-left: 16px;
}

.navbar__logo-name-link {
  text-decoration: none;
  color: var(--WHITE);
  font-family: var(--TITLE-FONT);
  font-size: 0.65rem;
  white-space: wrap;
  text-align: center;
  display: none;
}

/********************* LOGIN *********************/
.navbar__login-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: var(--WHITE);
}
.navbar__login-icon {
  font-size: var(--lengthLg1);
  color: var(--RED);
}

/* DROPDOWN */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown:hover .menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  position: absolute;
  top: 60px;
  right: -20px;
  display: grid;
  width: 180px;
  padding: var(--lengthSm3) 0;
  background: var(--GRAY-400);
  border-radius: 10px;
  border: 1px solid var(--RED);
  box-shadow: 0 40px 40px rgb(0 0 0 / 6%);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

.menu::before {
  content: "";
  background: inherit;
  border-top: 1px solid var(--RED);
  border-right: 1px solid var(--RED);
  position: absolute;
  top: -7px;
  right: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}

.menu.open {
  opacity: 1;
  visibility: visible;
}

.menu > a {
  font-size: 14px;
  padding: 12px 20px;
  text-decoration: none;
  color: var(--WHITE);
}

.menu > a:hover {
  background: var(--colorMain);
}

/* NAVBAR RIGHT */
.menu__items {
  display: none;
}

.menu__item {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: var(--lengthMd2);
}

.item__link {
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    var(--colorPrimary),
    var(--colorPrimary) 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.item__link::before {
  content: "";
  background: var(--colorPrimary);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.item__link:hover {
  background-position: 0;
}

.item__link:hover::before {
  width: 100%;
}

/********************* LINKS *********************/
.navbar__menu-toggler {
  display: block;
  cursor: pointer;
  color: var(--WHITE);
  font-size: var(--lengthMd3);
}

/********************* SEARCH *********************/
.navbar__search-icon {
  display: none !important;
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
/* 600px ve smaller */
@media (max-width: 600px) {
  .actual-text {
    font-size: var(--lengthMd3);
  }

  .hover-text {
    display: none;
  }
  .navbar__menu-toggler {
    display: block;
  }

  .navigation--mobile {
    top: 60px;
    position: absolute;
    right: 0px;
    display: flex;
    padding: 80px 60px;
    min-height: 100%;
    background-color: var(--colorMain);
    gap: var(--lengthSm3);
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.95;
    animation: fadein 0.3s forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - 60px);
    }
  }

  .navigation--mobile--fadeout {
    animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - 60px);
    }
    100% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}
/* 600px ve bigger */
@media (min-width: 600px) {
  .navbar {
    padding: 0 10%;
    height: 80px;
  }

  .navbar__logo-name-link {
    display: block;
  }

  .navbar__login-link {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(
      to right,
      var(--RED),
      var(--RED) 50%,
      white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
  }

  .navbar__login-link::before {
    content: "";
    background: var(--RED);
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }

  .navbar__login-link:hover {
    background-position: 0;
  }

  .navbar__login-link:hover::before {
    width: 100%;
  }

  .menu__items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: var(--lengthMd3);
    padding: 0px;
    background-color: var(--colorMain);
  }

  /* MENU ITEMS */
  .navbar__menu-toggler {
    display: none !important;
  }
  .navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--lengthMd1);
  }

  .navbar__search-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--lengthSm3);
    color: var(--WHITE);
    text-decoration: none;
  }
  .navbar__search-icon {
    display: block !important;
  }

  /* test */
  .navbar__logo > .logo-button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  /* logo-button styling */
  .navbar__logo > .logo-button {
    --border-right: 6px;
    --text-stroke-color: var(--WHITISH);
    --animation-color: var(--colorPrimary);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: var(--TITLE-FONT);
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--colorPrimary);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--colorPrimary);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--colorPrimary);
  }
  /* hover */
  .navbar__logo > .logo-button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--colorPrimary));
  }
}
