@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-300: #232428; /* >> CARD BG COLOR */
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--MAIN-COLOR);
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(78, 80, 88, 0.48);
}

.navbar__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
/********************* LOGO *********************/
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.navbar__logo-image-link {
  text-decoration: none;
}

.navbar__logo-image {
  width: 45px;
  height: 45px;
}

.navbar__logo-name-link {
  text-decoration: none;
  color: var(--WHITE);
  font-family: var(--TITLE-FONT);
  font-size: 0.65rem;
  white-space: wrap;
  text-align: center;
}

.navbar__logo-name {
  font-size: 1.5rem;
}

/********************* FIND PHARMACY *********************/
.navbar__find {
  display: none;
}

/********************* LINKS *********************/
.navbar__menu-toggler {
  display: block;
  color: var(--WHITE);
  font-size: 1.5rem;
}

.menu__items {
  list-style-type: none;
  display: none;
  gap: 2rem;
}
.menu__item {
  font-size: 1.5rem;
  font-family: var(--TITLE-FONT);
}

.item__link {
  text-decoration: none;
  color: var(--WHITE);
  padding: 2px 8px;
}

.item__link-home:hover {
  border-bottom: 3px solid var(--BLUE-LINK);
}
.item__link-meds:hover {
  border-bottom: 3px solid var(--GREEN-1);
}

.item__link-normal:hover {
  border-bottom: 3px solid var(--ORANGE);
}

/********************* SEARCH *********************/
.navbar__search {
  display: none;
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
  .navbar__logo-name-link {
    font-size: 1rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 992px) {
  .navbar__logo-name-link {
    font-size: 1rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    justify-content: space-around;
    height: 100px;
    padding: 0 1rem;
  }

  /* LOGO */
  .navbar__logo {
    gap: 5px;
  }

  .navbar__logo-image {
    width: 50px;
    height: 50px;
  }

  .navbar__logo-name-link {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .navbar__logo-name {
    font-size: 2rem;
  }

  /* PHARMACY */
  .navbar__find {
    display: block;
  }

  .navbar__find-link {
    text-decoration: none;
    padding: 4px 8px;
    color: var(--REDISH);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.3rem;
    font-family: var(--TITLE-FONT);
  }

  .navbar__find-link:hover {
    border-bottom: 3px solid var(--RED);
    margin-top: 3px;
  }

  .navbar__find-icon {
    font-size: 2rem;
    color: var(--RED);
  }

  .navbar__find-text {
    font-size: 1.2rem;
    font-weight: 500;
  }

  /* LINKS */
  .menu__items {
    display: flex;
  }

  .navbar__menu > .navbar__menu-toggler {
    display: none;
  }

  /* SEARCH */
  .navbar__search {
    display: block;
  }

  .navbar__search-link {
    text-decoration: none;
    padding: 12px 16px;
    width: 12.5rem;
    border-radius: 5px;
    background-color: var(--GRAY-400);
    color: var(--WHITE);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.3rem;
    font-family: var(--TITLE-FONT);
  }

  .navbar__search-link:hover {
    background-color: var(--GRAY-150);
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    padding: 0;
  }
}
