@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --colorMain: #313338;
  --colorPrimary: #23a55a;
  --colorSecondary: #5865f2;
  --colorTitle: #f2f3f5;
  --colorText: #dbdee1;
  --WHITE: #f2f3f5;
  --WHITISH: #dbdee1;
  --GREEN: #248046;
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c;
  --BLUE-LINK: #00a8fc;
  --ORANGE: #bf861c;
  --GRAY-50: #b5bac1;
  --GRAY-100: #949ba4;
  --GRAY-150: #80848e;
  --GRAY-200: #42444a;
  --GRAY-250: #2b2d31;
  --GRAY-300: #232428;
  --GRAY-400: #1e1f22;
  --lengthSm1: 0.25rem;
  --lengthSm2: 0.375rem;
  --lengthSm3: 0.5rem;
  --lengthMd1: 1rem; /* 16px*/
  --lengthMd2: 1.25rem;
  --lengthMd3: 1.5rem;
  --lengthLg1: 2rem;
  --lengthLg2: 3rem;
  --lengthLg3: 4rem;
  --lengthLg4: 5rem;
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: var(--lengthMd1);
  font-family: var(--TEXT-FONT);
}

body {
  background-color: var(--colorMain);
}

.card-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--lengthLg2);
  width: 80%;
  margin: calc(var(--lengthLg3) * 2) 0 var(--lengthLg1) 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--GRAY-300);
  border-radius: 9px;
  max-width: 300px;
  min-height: 400px;
  position: relative;
  transition: 0.5s ease-out;
  overflow: visible;
}

/* IMAGE */
.card__image {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 9px 9px 0 0;
}

/* STATUS */
.status-wrapper {
  padding: var(--lengthSm3) var(--lengthMd1) var(--lengthSm3) var(--lengthMd1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--GRAY-100);
  width: 100%;
}

/* LABELS */
.card__tag {
  background-color: var(--ORANGE);
  padding: 4px 10px;
  border-radius: 99px;
  font-size: var(--lengthMd1);
  color: white;
  font-family: var(--TITLE-FONT);
}

/* ICONS */
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--lengthSm3);
  font-size: var(--lengthMd3);
}

.fa-glass-water {
  color: var(--BLUE-LINK);
}

.fa-user-plus {
  color: var(--RED);
}

.fa-children {
  color: var(--GREEN);
}

.fa-spoon {
  color: purple;
}

.fa-hand-holding-droplet {
  color: cornflowerblue;
}

.fa-teeth-open {
  color: white;
}

.fa-spray-can {
  color: palevioletred;
}

.fa-head-side-cough {
  color: navajowhite;
}

/* INFOS */
.information-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--lengthSm3);
  width: 90%;
}

.information-top-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--lengthMd1);
}

.info-left {
  display: flex;
  align-items: center;
  gap: var(--lengthSm3);
}

.card__name {
  font-family: var(--TITLE-FONT);
  font-size: 1.7rem;
  color: var(--WHITE);
}

/* RATES */
.rate-wrapper {
  font-size: 1.1rem;
  color: var(--YELLOW);
}

.description-text {
  min-height: 100px;
  --max-lines: 3;
  --line-height: 1.2;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  color: var(--colorText);
}

.card__purpose,
.card__instruction {
  font-family: var(--TEXT-FONT);
  color: var(--WHITISH);
}

.card__prescription-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--lengthMd1);
}

.card__prescription-warning {
  padding-bottom: 0.7rem;
  color: var(--WHITE);
  font-family: var(--TITLE-FONT);
  font-size: var(dm2);
}

.fa-triangle-exclamation {
  color: var(--RED);
  font-size: 1.7rem;
  margin-right: var(--lengthSm3);
}

.card__prescription-link {
  text-decoration: none;
  color: var(--REDISH);
  font-family: var(--TITLE-FONT);
  text-align: center;
}

.card__prescription-link:hover {
  text-decoration: underline;
}

.card__page-link {
  text-decoration: none;
}

.card__page-btn {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 5px;
  border: none;
  background-color: var(--GREEN);
  color: #fff;
  font-size: var(--lengthMd1);
  padding: var(--lengthSm3) var(--lengthMd1);
  position: absolute;
  left: 70%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.card__page-btn:hover {
  cursor: pointer;
}
.card__page-btn:focus {
  box-shadow: 0 0 0 3px var(--WHITE);
}

/*Hover*/
.card:hover {
  box-shadow: 0 5px 15px 0 var(--GREEN);
}

.card:hover .card__page-btn {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.add-btn {
  background: none;
  border: none;
  font-size: var(--lengthLg1);
  color: var(--GRAY-150);
}

.add-btn:hover {
  cursor: pointer;
}

/* RESPONSIVE - MEDIA QUERIES */
@media (max-width: 600px) {
}

@media (min-width: 600px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
