@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-300: #232428; /* >> CARD BG COLOR */
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--MAIN-COLOR);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 80%;
  margin: 8rem 0 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--GRAY-300);
  border-radius: 9px;
  max-width: 300px;
  min-height: 400px;
  position: relative;
  transition: 0.5s ease-out;
  overflow: visible;
}

/* IMAGE */
.card__image {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 9px 9px 0 0;
}

/* STATUS */
.status-wrapper {
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--GRAY-100);
  width: 100%;
}

/* LABELS */
.card__tag {
  background-color: var(--ORANGE);
  padding: 4px 10px;
  border-radius: 99px;
  font-size: 1rem;
  color: white;
  font-family: var(--TITLE-FONT);
}

/* ICONS */
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.5rem;
}

.fa-glass-water {
  color: var(--BLUE-LINK);
}

.fa-user-plus {
  color: var(--RED);
}

.fa-children {
  color: var(--GREEN-ALL);
}

.fa-spoon {
  color: purple;
}

.fa-hand-holding-droplet {
  color: cornflowerblue;
}

.fa-teeth-open {
  color: white;
}

.fa-spray-can {
  color: palevioletred;
}
.fa-head-side-cough {
  color: navajowhite;
}

/* INFOS */
.information-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.5rem; */
  padding-top: 0.5rem;
  width: 90%;
}

.information-top-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.info-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__name {
  font-family: var(--TITLE-FONT);
  font-size: 1.7rem;
  color: var(--WHITE);
}

/* RATES */
.rate-wrapper {
  font-size: 1.1rem;
  color: var(--YELLOW);
}

.description-text {
  min-height: 100px;
  --max-lines: 3;
  --line-height: 1.2;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
}

.card__purpose,
.card__instruction {
  font-family: var(--TEXT-FONT);
  color: var(--WHITE-50);
}

.card__prescription-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.card__prescription-warning {
  padding-bottom: 0.7rem;
  color: var(--WHITE);
  font-family: var(--TITLE-FONT);
  font-size: 1.2rem;
}

.fa-triangle-exclamation {
  color: var(--RED);
  font-size: 1.7rem;
  margin-right: 0.5rem;
}

.card__prescription-link {
  text-decoration: none;
  color: var(--REDISH);
  font-family: var(--TITLE-FONT);
  text-align: center;
}

.card__prescription-link:hover {
  text-decoration: underline;
}

.card__page-link {
  text-decoration: none;
}

.card__page-btn {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 5px;
  border: none;
  background-color: var(--GREEN-1);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 70%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.card__page-btn:hover {
  cursor: pointer;
}
.card__page-btn:focus {
  box-shadow: 0 0 0 3px var(--WHITE);
}

/*Hover*/
.card:hover {
  box-shadow: 0 5px 15px 0 var(--GREEN-ALL);
}

.card:hover .card__page-btn {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.add-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--GRAY-150);
}

.add-btn:hover {
  cursor: pointer;
}

/* RESPONSIVE - MEDIA QUERIES */
@media (max-width: 600px) {
}

@media (min-width: 600px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 100vh;
  }
}
