<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicine Card</title>
    <link rel="stylesheet" href="/components/medicine-card/medicine-card.css" />
    <script
      src="https://kit.fontawesome.com/d50705f12e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="cards-container">
      <div class="card">
        <!-- image -->
        <div class="image-container">
          <a href="null">
            <img
              class="medicine-image"
              src="https://cdn.hekimce.com/uploads/2022/basliksiz-2-1668878307.jpg"
              alt="majezik"
            />
          </a>
        </div>
        <!-- labels, icons and rates -->
        <div class="status-container">
          <!-- labels -->
          <div class="label-container">
            <span class="medicine-tag">Ağrı Kesici</span>
          </div>
          <!-- icons -->
          <div class="icon-container">
            <i class="fa-solid fa-glass-water" title="Su ile tüketiniz"></i>
            <i class="fa-solid fa-user-plus" title="Yetişkinler içindir"></i>
            <!-- <i class="fa-solid fa-children" title="Çocuklar içindir"></i> -->
            <!-- <i
            class="fa-solid fa-hand-holding-droplet"
            title="Sürerek uygulayınız"
          ></i> -->
            <!-- <i class="fa-solid fa-spoon" title="Şurup"></i> -->
          </div>
          <!-- rates -->
          <div class="rate-container" title="Güçlü">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <!-- informations -->
        <div class="information-container">
          <h1 class="medicine-name">Majezik</h1>
          <p class="medicine-purpose">
            <b>Ne için kullanılır:</b> Ağrı kesici ve iltihap giderici bir
            ilaçtır. Çeşitli ağrıları için kullanılır.
          </p>
          <p class="medicine-instruction">
            <b>Nasıl kullanılır:</b> Günde 1-3 defa 1 tablet veya 1-2 defa 2
            tablet alınabilir. Yemekten önce veya sonra alınabilir.
          </p>
          <p class="medicine-warning">
            <i class="fa-solid fa-triangle-exclamation"></i>
            Kullanmadan önce prospektüse bakın
            <i class="fa-solid fa-triangle-exclamation"></i>
          </p>
          <a href="" class="medicine-prescription">
            <button>Prospektüsü İncele</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
