<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicine Card</title>
    <link rel="stylesheet" href="/components/medicine-card/medicine-card.css" />
    <script
      src="https://kit.fontawesome.com/d50705f12e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="card-container">
      <div class="card">
        <!-- image -->
        <div class="image-wrapper">
          <a href="null" class="card__image-link">
            <img
              class="card__image"
              src="https://cdn.hekimce.com/uploads/2022/basliksiz-2-1668878307.jpg"
              alt="majezik"
            />
          </a>
        </div>

        <!-- status -->
        <div class="status-wrapper">
          <!-- labels -->
          <div class="label-wrapper">
            <span class="card__tag">Ağrı Kesici</span>
          </div>
          <!-- icons -->
          <div class="icon-wrapper">
            <i class="fa-solid fa-glass-water" title="Su ile tüketiniz"></i>
            <i class="fa-solid fa-children" title="Çocuklar içindir"></i>
            <i class="fa-solid fa-user-plus" title="Yetişkinler içindir"></i>

            <!-- <i
            class='fa-solid fa-hand-holding-droplet'
            title='Sürerek uygulayınız'
          ></i> -->
            <!-- <i class='fa-solid fa-spoon' title='Şurup'></i> -->
          </div>
        </div>

        <!-- informations -->
        <div class="information-wrapper">
          <div class="information-top-wrapper">
            <div class="info-left">
              <h1 class="card__name">Majezik</h1>
              <!-- rates -->
              <div class="rate-wrapper" title="Güçlü">
                (<i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>)
              </div>
            </div>
            <!-- add button -->
            <div class="add-button">
              <form method="post" action="add-to-list.php">
                <input type="hidden" name="medicine_id" value=' .$row["id"].' />
                <button type="submit" class="add-btn">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </form>
            </div>
          </div>
          <!-- descriptions -->
          <p class="description-text">
            <span class="card__purpose">
              Ağrı kesici ve iltihap giderici bir ilaçtır.
              <span class="card__instruction">
                Günde 1-3 defa 1 tablet, yemekten önce veya sonra alınabilir.
              </span>
            </span>
          </p>

          <!-- prescription alert -->
          <div class="card__prescription-container">
            <p class="card__prescription-warning">
              <a href="" class="card__prescription-link" title="&rx;"
                >prescription</a
              >
            </p>
            <a
              href='http://localhost:3000/medicine-page-template.php?slug=". $row["slug"]."'
              class="card__page-link"
            >
              <button class="card__page-btn">More Info</button>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
