@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-300: #232428; /* >> CARD BG COLOR */
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--MAIN-COLOR);
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(78, 80, 88, 0.48);
}
/********************* LOGO *********************/
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.navbar__logo-image-link {
  text-decoration: none;
}

.navbar__logo-image {
  width: 45px;
  height: 45px;
}

.navbar__logo-name-link {
  text-decoration: none;
  color: var(--WHITE);
  font-family: var(--TITLE-FONT);
  font-size: 0.65rem;
  white-space: wrap;
  text-align: center;
}

/********************* SEARCH *********************/
.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search__input {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  font-family: var(--TEXT-FONT);
  font-size: 1rem;
  background-color: var(--GRAY-400);
  color: var(--WHITE-50);
}

.search__input:focus {
  outline: 1px solid var(--BLUE);
}
.search__button {
  width: 60px;
  height: 40px;
  padding: 4px 8px;
  background: var(--RED);
  border: none;
  border-radius: 5px;
  color: var(--WHITE-50);
  font-size: 1rem;
}

.search__button:hover {
  cursor: pointer;
  background-color: var(--REDISH);
  color: var(--GRAY-400);
}

/********************* LINKS *********************/
.navbar__menu-toggler {
  display: block;
  color: var(--WHITE);
  font-size: 1.5rem;
}

.menu__items {
  list-style-type: none;
  display: none;
  gap: 2rem;
}
.menu__item {
  font-size: 1.5rem;
  font-family: var(--TITLE-FONT);
}

.item__link {
  text-decoration: none;
  color: var(--WHITE);
  padding: 2px 8px;
}

.item__link-home:hover {
  border-bottom: 3px solid var(--BLUE-LINK);
}
.item__link-meds:hover {
  border-bottom: 3px solid var(--GREEN-1);
}

.item__link-normal:hover {
  border-bottom: 3px solid var(--ORANGE);
}

/* LOGIN */
/* PHARMACY */
.navbar__login {
  display: block;
}

.navbar__login-link {
  text-decoration: none;
  padding: 4px 8px;
  color: var(--REDISH);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.3rem;
  font-family: var(--TITLE-FONT);
}

.navbar__login-link:hover {
  border-bottom: 3px solid var(--RED);
  margin-top: 3px;
}

.navbar__login-icon {
  font-size: 2rem;
  color: var(--RED);
}

.navbar__login-text {
  font-size: 1.2rem;
  font-weight: 500;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown > a {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 72px;
}
.dropdown > a > img {
  width: 20px;
}

.dropdown:hover .menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  position: absolute;
  top: 60px;
  right: -20px;
  display: grid;
  width: 180px;
  padding: 8px 0;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 40px 40px rgb(0 0 0 / 6%);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

.menu::before {
  content: "";
  background: inherit;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  top: -7px;
  right: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}

.menu.open {
  opacity: 1;
  visibility: visible;
}

.menu > a {
  font-size: 14px;
  padding: 12px 20px;
}

.menu > a:hover {
  background: #f5f5f5;
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media screen and (max-width: 600px) {
  .search__input {
    width: 150px;
  }
}

@media screen and (min-width: 600px) {
  .search__input {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .navbar__search {
    padding-left: 6rem;
  }

  .search__input {
    width: 350px;
  }

  .navbar__logo-name-link {
    font-size: 1rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 992px) {
  .navbar__search {
    padding-left: 6rem;
  }

  .search__input {
    width: 400px;
  }

  .navbar__logo-name-link {
    font-size: 1rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    height: 100px;
  }
  /* LOGO */
  .navbar__logo {
    gap: 5px;
  }

  .navbar__logo-image {
    width: 50px;
    height: 50px;
  }

  .navbar__logo-name-link {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .navbar__logo-name {
    font-size: 2rem;
  }

  /* LINKS */
  .menu__items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__menu > .navbar__menu-toggler {
    display: none;
  }

  /* SEARCH */
  .search__input:focus {
    outline: 1px solid var(--BLUE);
  }
  .search__button {
    width: min-content;
    padding: 8px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    padding: 0;
  }

  .navbar__logo-name-link {
    font-size: 1.5rem;
    white-space: nowrap;
  }

  .navbar__search {
    padding-left: 16rem;
  }
}
