@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
:root {
  --MAIN-COLOR: #313338; /* >> MAIN BG COLOR*/
  --GREEN-1: #248046; /* >> buton*/
  --GREEN-ALL: #23a55a; /* >> other things except buttons */
  --YELLOW: #f0b232;
  --RED: #f23f43;
  --REDISH: #fa777c; /* >> alert-danger*/
  --BLUE: #5865f2;
  --BLUE-LINK: #00a8fc; /* >> MAIN BG, LINK COLOR*/
  --ORANGE: #bf861c;
  --WHITE: #f2f3f5;
  --WHITE-50: #dbdee1; /* >> Search bar TEXT COLOR*/
  --GRAY-50: #b5bac1; /* >> MAIN BG üzerindeki SUBTITLE COLOR */
  --GRAY-100: #949ba4; /* >> BG COLOR 1 | MAIN BG üzerindeki TEXT COLOR*/
  --GRAY-150: #80848e; /* >> invisible status | MAIN BG üzerindeki badge bg rengi*/
  --GRAY-200: #42444a; /* >> MAIN BG üzerindeki BTN BG*/
  --GRAY-250: #2b2d31; /* >> BG COLOR 1 |MAIN BG üzerindeki iconların bg rengi*/
  --GRAY-300: #232428; /* >> CARD BG COLOR */
  --GRAY-400: #1e1f22; /* >> BG COLOR 2 | MAIN BG üzerindeki search bar bg*/
  --TITLE-FONT: "Inter";
  --TEXT-FONT: "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 24px;
  background-color: var(--MAIN-COLOR);
  opacity: 0.95;
  height: 60px;
  border-bottom: 2px solid rgba(78, 80, 88, 0.48);
  z-index: 99;
}

/* NAVBAR LEFT */
.navbar__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/********************* LOGO *********************/
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.navbar__logo-image {
  width: 60px;
  height: 60px;
  margin-left: 16px;
}

.navbar__logo-name-link {
  text-decoration: none;
  color: var(--WHITE);
  font-family: var(--TITLE-FONT);
  font-size: 0.65rem;
  white-space: wrap;
  text-align: center;
  display: none;
}

/********************* LOGIN *********************/
.navbar__login-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: var(--WHITE);
}
.navbar__login-icon {
  color: var(--RED);
}

/* NAVBAR RIGHT */
.menu__items {
  display: none;
}

.menu__item {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.item__link {
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    var(--GREEN-ALL),
    var(--GREEN-ALL) 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.item__link::before {
  content: "";
  background: var(--GREEN-ALL);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.item__link:hover {
  background-position: 0;
}

.item__link:hover::before {
  width: 100%;
}

/********************* SEARCH *********************/
.search__input {
  width: 180px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  font-family: var(--TEXT-FONT);
  font-size: 1rem;
  background-color: var(--GRAY-400);
  color: var(--WHITE-50);
}

.search__input:focus {
  outline: 1px solid var(--BLUE);
}

/********************* LINKS *********************/
.navbar__menu-toggler {
  display: block;
  cursor: pointer;
  color: var(--WHITE);
  font-size: 1.5rem;
}

.menu__items {
  list-style-type: none;
  display: none;
  gap: 2rem;
}
.menu__item {
  font-size: 1.5rem;
  font-family: var(--TITLE-FONT);
}

.item__link {
  text-decoration: none;
  color: var(--WHITE);
  padding: 2px 8px;
}

.item__link-home:hover {
  border-bottom: 3px solid var(--BLUE-LINK);
}
.item__link-meds:hover {
  border-bottom: 3px solid var(--GREEN-1);
}

.item__link-normal:hover {
  border-bottom: 3px solid var(--ORANGE);
}

/* LOGIN */
.navbar__login {
  display: block;
}

.navbar__login-icon {
  font-size: 2rem;
  color: var(--RED);
}

.navbar__login-text {
  font-size: 1.2rem;
  font-weight: 500;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown:hover .menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  position: absolute;
  top: 60px;
  right: -20px;
  display: grid;
  width: 180px;
  padding: 8px 0;
  background: var(--GRAY-400);
  border-radius: 10px;
  border: 1px solid var(--RED);
  box-shadow: 0 40px 40px rgb(0 0 0 / 6%);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

.menu::before {
  content: "";
  background: inherit;
  border-top: 1px solid var(--RED);
  border-right: 1px solid var(--RED);
  position: absolute;
  top: -7px;
  right: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}

.menu.open {
  opacity: 1;
  visibility: visible;
}

.menu > a {
  font-size: 14px;
  padding: 12px 20px;
  text-decoration: none;
  color: var(--WHITE);
}

.menu > a:hover {
  background: var(--MAIN-COLOR);
}

/**************** MEDIA QUERIES -RESPONSIVE *********************/
@media (max-width: 600px) {
  .actual-text {
    font-size: 1.4rem;
  }

  .hover-text {
    display: none;
  }

  .navbar__menu-toggler {
    display: block;
  }

  .navigation--mobile {
    top: 60px;
    position: absolute;
    right: 0px;
    display: flex;
    padding: 80px 60px;
    min-height: 100%;
    background-color: var(--MAIN-COLOR);
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.95;
    animation: fadein 0.3s forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - 60px);
    }
  }

  .navigation--mobile--fadeout {
    animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - 60px);
    }
    100% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

@media (min-width: 600px) {
  .navbar {
    padding: 0 10%;
    height: 80px;
  }

  .navbar__logo-name-link {
    display: block;
  }

  .search__input {
    width: 100%;
  }

  .navbar__login-link {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(
      to right,
      var(--RED),
      var(--RED) 50%,
      white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
  }

  .navbar__login-link::before {
    content: "";
    background: var(--RED);
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }

  .navbar__login-link:hover {
    background-position: 0;
  }

  .navbar__login-link:hover::before {
    width: 100%;
  }

  .menu__items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 24px;
    padding: 0px;
    background-color: var(--MAIN-COLOR);
  }

  /* MENU ITEMS */
  .navbar__menu-toggler {
    display: none !important;
  }
  .navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .navbar__search-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--WHITE);
    text-decoration: none;
  }
  .navbar__search-icon {
    display: block !important;
  }

  /* test */
  .navbar__logo > .logo-button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  /* logo-button styling */
  .navbar__logo > .logo-button {
    --border-right: 6px;
    --text-stroke-color: var(--WHITE-50);
    --animation-color: var(--GREEN-ALL);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: var(--TITLE-FONT);
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--GREEN-ALL);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--GREEN-ALL);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--GREEN-ALL);
  }
  /* hover */
  .navbar__logo > .logo-button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--GREEN-ALL));
  }
}
